*{
    overflow-x: hidden;
    margin: 0;
}

body{
    background-color: rgb(237, 237, 237);
    font-family:"Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body.index .Container{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 11fr 6fr;
    grid-template-rows: auto auto 6fr 6fr 200px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "Item1 Item3"
    "Item2 Item3"
    "footer footer ";
    gap: 50px;
    

}

body header{
    grid-area: header;
    background-color: white ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
    height: auto;
}

body header h1{
    font-size: 3rem;
    line-height: 1.2;
}

body nav{
    grid-area: nav;
    background-color: white;
    margin-top: -50px;
    box-shadow: 0 10px 15px -10px gray;
    overflow: hidden;
    font-weight: 600;
}
body nav a{
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 16px 16px;
    color: black;
    font-family: "Bebas Neue",sans-serif;
    font-size: 20px;
}
body nav a:hover{
    background-color: #dbdbdb;
    color: black;
}

body nav a.active{
    background-color: #dbdbdb;
}

body footer{
    grid-area: footer;
    background-color: #4c5454;
    box-shadow: 1px 1px 15px gray;
    padding: 10px;
    color: white;
}

body footer a{
    text-decoration: none;
}

body.index .Item1{
    grid-area: Item1;
    background-color: #4c5454;
    margin-left: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
    padding: 10px;
}

body.index .Item1 p{
    padding-top: 10px;
}

body.index .Item2{
    grid-area: Item2;
    background-color: #457b9d;
    margin-left: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
    padding: 10px;
}

body.index .Item2 p{
    padding-top: 10px;
}

body.index .Item3{
    grid-area: Item3;
    background-color: #a8dadc;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
    padding: 10px;
}

body.index .Item3 p{
    padding-top: 10px;
}

body.index .Item3 ul{
    padding-top: 10px;
}

body.index img{
    width: 100%;
    border-radius: 10px;
}


/* NEWS.html*/

body.news .Container{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 6fr 6fr 200px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "latestNews latestNews"
    "stats diagram"
    "footer footer ";
    gap: 50px;
}

body.news .latestNews{
    grid-area: latestNews;
    background-color: #4c5454;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "img" "text";
    box-shadow: 1px 1px 15px gray;
}
body.news .latestNews img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img;
    border-radius: 10px;
}

body.news .latestNews .latestNewsText{
    background-color: #4c5454;
    grid-area: "text";
    padding: 10px;
}

body.news .latestNews .flexContainer{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: auto;
    padding-top: 10px;
    gap: 15px;
}
body.news .latestNews .news1{
    background-color: white;
    width: 375px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}
body.news .latestNews .flexContainer h2{
    padding-bottom: 10px;
    text-align: center;
}
body.news .latestNews .news2{
    background-color: white;
    width: 375px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}

body.news .latestNews .stayTuned{
    margin-top: 15px;

}

body.news .latestNews .stayTuned p{
    margin: 10px;
}

body.news .stats{
    grid-area: stats;
    background-color: #457b9d;
    margin-left: 100px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 15px gray;
}
body.news .stats table{
    border-spacing: 0;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
}

body.news .stats thead{
    background-color: gray;
    text-align: center;
}

body.news .stats tbody{
    background-color: white;
    text-align:  center;
}

body.news .diagram{
    grid-area: diagram;
    background-color:  #a8dadc;
    margin-right: 100px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 15px gray;
}

body.news .diagram p{
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

body.news .diagram img{
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* CAREER.html*/

body.career .Container{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 6fr 6fr 10fr 200px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "WhyWorkHere AvailableJobs"
    "JobRequirements JobBenefits"
    "ApplyForJob ApplyForJob"
    "footer footer ";
    gap: 50px;
}

body.career .WhyWorkHere{
    grid-area: WhyWorkHere;
    background-color: #457b9d;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
}

body.career .WhyWorkHere p{
    padding-top: 10px;
}

body.career .AvailableJobs{
    grid-area: AvailableJobs;
    background-color:  #a8dadc;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
}

body.career .AvailableJobs ul{
    padding-top: 10px;
}

body.career .JobRequirements{
    grid-area: JobRequirements;
    background-color: #4c5454;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
}

body.career .JobRequirements p{
    padding-top: 10px;
}

body.career .JobRequirements ul{
    padding-top: 10px;
}

body.career .JobBenefits{
    grid-area: JobBenefits;
    background-color: #4c5454;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
}

body.career .JobBenefits ul{
    padding-top: 10px;
}

body.career .ApplyForJob{
    grid-area: ApplyForJob;
    background-color:  #457b9d;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
}

body.career .ApplyForJob textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

body.career ul{
    padding-left: 20px;
}

/* ABOUT.html*/

body.about .Container{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 6fr 3fr 200px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "OurMission Offices"
    "Contact Contact"
    "footer footer ";
    gap: 50px;
}

body.about .OurMission{
    grid-area: OurMission;
    background-color: #4c5454;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
}

body.about .OurMission p{
    padding-top: 10px;
}

body.about .Offices{
    grid-area: Offices;
    background-color: #457b9d;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
}

body.about .Offices ul{
    padding-top: 10px;
}

body.about .Contact{
    grid-area: Contact;
    background-color: #a8dadc;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
}

body.about .Contact p{
    padding-top: 10px;
}

body.about .Contact ul{
    padding-top: 5px;
}

body.about .OurMission img{
    width: 100%;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
}

body.about .Offices img{
    width: 100%;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
}

body.about .Contact img{
    width: 33%;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
    float: left;
}

body.about .Contact .ContactInfo{
    padding-top: 10px;
    padding-left: 25px;
}

/* SURPRISE.html*/

body.surprise .Container{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto
    3fr 200px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "Parallax Parallax"
    "NoJobForYou NoJobForYou"
    "Parallax2 Parallax2"
    "ImgArea ImgArea"
    "footer footer ";
    gap: 50px;
}

body.surprise .Parallax{
    grid-area: Parallax;
    background-image: url("assets/clown.jfif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: -50px;
    margin-bottom: -50px;
}

body.surprise .NoJobForYou{
    grid-area: NoJobForYou;
    background: linear-gradient(135deg,yellow,orange);
    padding: 10px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}

body.surprise .Parallax2{
    grid-area: Parallax2;
    background-image: url("assets/clown.jfif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    margin-top: -50px;
    margin-bottom: -50px;
}

body.surprise .ImgArea{
    grid-area: ImgArea;
    background-color: gray;
    padding-bottom: -50px;
    margin-bottom: -50px;
}

body.surprise .ImgArea .flexContainer{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: auto;
    padding-top: 10px;
    gap: 15px;
}

body.surprise .ImgArea img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}