*{
    overflow-x: hidden;
    margin: 0;
}

body{
    background-color: rgb(237, 237, 237);
    font-family:monospace;
}

body.index .Container{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 11fr 6fr;
    grid-template-rows: auto auto 6fr 6fr 2fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "Item1 Item3"
    "Item2 Item3"
    "footer footer ";
    gap: 50px;
    

}

body header{
    grid-area: header;
    background-color: white ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
    height: auto;
}

body header h1{
    font-size: 3rem;
    line-height: 1.2;
}

body nav{
    grid-area: nav;
    background-color: white;
    margin-top: -50px;
    box-shadow: 0 10px 15px -10px gray;
    overflow: hidden;
}
body nav a{
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 16px 16px;
    color: black;
    font-family: "Bebas Neue",sans-serif;
    font-size: 20px;
}
body nav a:hover{
    background-color: #dbdbdb;
    color: black;
}

body nav a.active{
    background-color: #dbdbdb;
}
body.index .Item1{
    grid-area: Item1;
    background-color: #4c5454;
    margin-left: 25px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
    padding: 10px;
}
body.index .Item2{
    grid-area: Item2;
    background-color: #457b9d;
    margin-left: 25px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
    padding: 10px;
}
body.index .Item3{
    grid-area: Item3;
    background-color: #a8dadc;
    margin-right: 25px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px gray;
    padding: 10px;
}
body.index footer{
    grid-area: footer;
    background-color: #4c5454;
    box-shadow: 1px 1px 15px gray;
    padding: 10px;
}

body.index img{
    width: 100%;
    border-radius: 10px;
}


/* NEWS.html*/

body.news .Container{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 6fr 6fr 2fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "latestNews latestNews"
    "stats diagram"
    "footer footer ";
    gap: 50px;
}

body.news .latestNews{
    grid-area: latestNews;
    background-color: aqua;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "img" "text";
}
body.news .latestNews img{
    size: 100%;
    grid-area: "img";
    border-radius: 10px;
    padding: 10px;
    
}

body.news .latestNews .latestNewsText{
    background-color: aqua;
    grid-area: "text";
    padding: 10px;
}

body.news .latestNews .flexContainer{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: auto;
    padding-top: 10px;
    gap: 15px;
}
body.news .latestNews .news1{
    background-color: white;
    width: 375px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}
body.news .latestNews .flexContainer h2{
    padding-bottom: 10px;
    text-align: center;
}
body.news .latestNews .news2{
    background-color: white;
    width: 375px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}

body.news .latestNews .stayTuned{
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
}

body.news .latestNews .stayTuned p{
    margin: 10px;
}

body.news .stats{
    grid-area: stats;
    background-color: pink;
    margin-left: 25px;
    border-radius: 20px;
    padding: 10px;
}
body.news .stats table{
    border-spacing: 0;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
}

body.news .stats thead{
    background-color: gray;
    text-align: center;
}

body.news .stats tbody{
    background-color: white;
    text-align:  center;
}

body.news .diagram{
    grid-area: diagram;
    background-color: greenyellow;
    margin-right: 25px;
    border-radius: 20px;
    padding: 10px;
}

body.news .diagram p{
    margin-top: 10px;
}

body.news .diagram img{
    width: 40vw;
    border-radius: 10px;
}


body.news footer{
    grid-area: footer;
    background-color: gray;
    padding: 10px;
}